.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.App .controls{
    display: flex;
    justify-content: space-around;
    transition: all 1s ease;
    font-size: 2em;
}
.controls h3{
  font-size: 0.5em;
}
.controls button{
  border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
     
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 0;
    
}
.controls button:after{
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.controls button:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}
.controls button:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}
.App .buttons{
    display: flex;
    justify-content: center;
    transition: all 1s ease;
}
.App .buttons button{
  border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;


    border-radius: 0 0 5px 5px;
}
.App .buttons button:hover{
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.App .buttons button:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
